
# requirements.txt defines dependencies used during development of the {{.project_name}} project.
#
# For defining used by jobs in Databricks Workflows, see:
# https://docs.databricks.com/dev-tools/bundles/library-dependencies.html
